@switch (column().filterType ?? 'text') {
  @case ('text') {
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
      <input
        matInput
        type="text"
        [ngModel]="textValue()"
        (ngModelChange)="valueChange.emit($event || null)"
      />
      @if (textValue()) {
        <button matSuffix mat-icon-button (click)="valueChange.emit(null)">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  }
  @case ('select') {
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
      <mat-select
        multiple
        [value]="selectValue()"
        (selectionChange)="valueChange.emit($event.value)"
      >
        @for (option of selectOptions(); track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  @case ('number') {
    <mat-slider class="w-full" discrete [min]="numberBounds().min" [max]="numberBounds().max">
      <input
        matSliderStartThumb
        [ngModel]="numberValue().min ?? numberBounds().min"
        (ngModelChange)="setNumberPart('min', $event)"
      />
      <input
        matSliderEndThumb
        [ngModel]="numberValue().max ?? numberBounds().max"
        (ngModelChange)="setNumberPart('max', $event)"
      />
    </mat-slider>
    <div class="flex justify-between text-[11px] text-(--mat-sys-on-surface-variant) -mt-1 px-1">
      <span>{{ numberValue().min ?? numberBounds().min }}</span>
      <span>{{ numberValue().max ?? numberBounds().max }}</span>
    </div>
  }
  @case ('date') {
    <app-date-range-filter [value]="dateValue()" (valueChange)="valueChange.emit($event)" />
  }
}
